
<div class="container">
  <div class="row" ng-controller="TabController">
  	<div class="col-md-2" style="margin-top:45px">
  		<ul class="nav nav-pills nav-stacked">
       	<li ng-class="{ active: vm.isSet(1) }">
          	<a href ng-click="vm.setTab(1)"><b>Home</b></a>
       	</li>
       	<li ng-class="{ active: vm.isSet(2) }">
          	<a href ng-click="vm.setTab(2); vm.getAddedQuizzes()"><b>Profile</b></a>
       	</li>
       	<li ng-class="{ active: vm.isSet(3) }">
          	<a href ng-click="vm.setTab(3)"><b>Add Quiz</b></a>
       	</li>
       	<li ng-class="{ active: vm.isSet(4) }">
          	<a href ng-click="vm.setTab(4); vm.getUserMessages()"><b>Messages</b></a>
       	</li>
       	<li ng-class="{ active: vm.isSet(5) }">
          	<a href="#!/login" ng-click="vm.setTab(5)"><b>Logout</b></a>
       	</li>
     	</ul>
  	</div>
  	
    <div class="col-md-9" style="margin-top:35px">
       	<div ng-show="vm.isSet(1)">
         	<h2>Home</h2>
           	<p><b>Welcome {{vm.user}}!</b></p>
 
           	Lore is a mobile education tool which aims at educating kids who do not have access to formal education. Thanks for being a volunteer to help the kids and spread education. Through this web portal, you can do the following: 
			<br>
			<ul>
	          	<li> Add a new quiz set by adding a set of learning slides or text material and a corresponding set of questions as a quiz. </li>
	          	<li> View your profile, the list of quizzes added by you, the feedback received from the kids and the performance of the kids in those quizzes.  </li>
	          	<li> View your received and sent messages or send a new message to anyone. </li>
          	</ul>
          	<hr>
          	<hr>
           	
        </div>
		
		<div ng-show="vm.isSet(2)">
          <h2>Profile</h2>
          <h3> Quizzes added </h3>
          <div ng-repeat="quiz in vm.all_quiz_details">
          	<table class="table">
          	<tbody>
          		<tr bgcolor=#8a9fb7>
          			<td>Quiz ID</td>
          			<td>{{ quiz.quizId }}</td>
          		</tr>
          		<tr>
          			<td>Name</td>
          			<td>{{ quiz.quizname }}</td>
          		</tr>
          		<tr>
          			<td>Category</td>
          			<td>{{ quiz.category }}</td>
          		</tr>
          		<tr>
          			<td>Language</td>
          			<td>{{ quiz.language }}</td>
          		</tr>
          		<tr>
          			<td>Material</td>
          			<td>{{ quiz.material }}</td>
          		</tr>
          		<tr>
          			<td>Questions</td>
          			<td>
          				<div ng-repeat="question in quiz.questions">
          					<b>Q: </b> {{ question.question_text }}
          					<table class="table">
          						<tbody>
          							<tr> 
          								<td> a) {{ question.option1 }} </td> 
          								<td> b) {{ question.option2 }} </td>
          								<td> c) {{ question.option3 }} </td> 
          							</tr>
          						</tbody>
          					</table>
          					<b>Ans: </b> {{ vm.getCorrectOption(question.answer) }}
          					<hr>
          				</div>
					</td>
          		</tr>
          	</tbody>
          	</table>
          	<hr>
          </div>
     	</div>
        
        <div ng-show="vm.isSet(3)">
          <h2>Add Quiz</h2>
           <form ng-submit="vm.submitAddQuizForm()">
          	<div class="form-group">
          	
	          	<label for="quizname">Quiz name</label>
	          	<input type="text" class="form-control" id="quizname" placeholder="Enter Quiz name" ng-model="vm.quizname">
	          	
	          	<div class="form-group">
	    			<label for="category">Select category select</label>
	   				<select class="form-control" id="category" ng-model="vm.category">
	     				<option selected="selected">Science</option>
	     				<option>Maths</option>
					    <option>History</option>
					    <option>Computer</option>
					    <option>Economics</option>
	   				</select>
	  			</div>
	          	<div class="form-group">
	    			<label for="targetclass">Select target class</label>
	   				<select class="form-control" id="targetclass" ng-model="vm.targetclass">
	     				<option selected="selected">8+</option>
	     				<option>10+</option>
					    <option>13+</option>
					    <option>15+</option>
	   				</select>
	  			</div>
	  				  			
	          	<div class="form-group">
	    			<label for="language">Language</label>
	   				<select class="form-control" id="language" ng-model="vm.language">
	     				<option value="English" selected="selected">English</option>
	     				<option value="Hindi">Hindi</option>
					    <option value="French">French</option>
					    <option value="Spanish">Spanish</option>
	   				</select>
	  			</div>

	  			<div class="form-group">
    				<label for="material"> Learning material </label>
    				<textarea class="form-control" id="material" rows="5" ng-model="vm.material"></textarea>
  				</div>
  				
	          	<div class="form-group">
	    			<label for="numquestions">Number of questions</label>
	   				<select class="form-control" id="numquestions" ng-model="vm.numquestions" ng-change="vm.updateNumQuestions()">
	     				<option selected="selected">1</option>
	     				<option>2</option>
					    <option>3</option>
					    <option>4</option>
	     				<option>5</option>
	     				<option>6</option>
					    <option>7</option>
					    <option>8</option>
	   				</select>
	  			</div>
	  			
	  			<div class="form-group" ng-repeat="x in vm.questionnumbers">
	  				<label for="question"> Question {{x}} </label>
	  				<input type="text" class="form-control" id="question_{{$index}}" placeholder="Enter Question">
	  				
	  				<fieldset class="form-group">
    					<legend>Answers</legend>
     					<div class="form-check">
      						<label class="form-check-label">
        						<input type="radio" class="form-check-input" name="radio_{{$index}}_1" id="radio_{{$index}}_1" value="radio_{{$index}}_1" >
        						<input type="text" name="ans_{{$index}}_1" id="ans_{{$index}}_1"/>
      						</label>
    					</div>
     					<div class="form-check">
      						<label class="form-check-label">
        						<input type="radio" class="form-check-input" name="radio_{{$index}}_2" id="radio_{{$index}}_2" value="radio_{{$index}}_2" >
        						<input type="text" name="ans_{{$index}}_2" id="ans_{{$index}}_2"/>
      						</label>
    					</div>
     					<div class="form-check">
      						<label class="form-check-label">
        						<input type="radio" class="form-check-input" name="radio_{{$index}}_3" id="radio_{{$index}}_3" value="radio_{{$index}}_3" >
        						<input type="text" name="ans_{{$index}}_3" id="ans_{{$index}}_3"/>
      						</label>
    					</div>

 <!-- 					    <div class="form-check">
					    <label class="form-check-label">
        						<input type="radio" class="form-check-input" name="radio2" id="radio2" value="ans1">
        						<input type="text" name="ans1" id="ans1" />
					      </label>
					    </div>
					    <div class="form-check">
					    <label class="form-check-label">
        						<input type="radio" class="form-check-input" name="ans1" id="ans1" value="ans1">
        						<input type="text" name="ans1" id="ans1" />
					      </label>
					    </div>
 -->				  </fieldset>	
	  			</div>
  				
  
	  			<button type="submit" class="btn btn-primary">Submit</button>
          	</div>
          </form>
      	</div>

        <div ng-show="vm.isSet(4)">
          <h2>Messages</h2>
          
          <table class="table">
          	<tbody> 
          		<tr bgcolor=#8FBC8F><td><b>Send a new message</b></td></tr>
          	</tbody>
          </table>
          
          <form ng-submit="vm.sendMessage()">
          	<div class="form-group">
          	
	          	<label for="userToSend">Username to send</label>
	          	<input type="text" class="form-control" id="userToSend" placeholder="Enter an username" ng-model="vm.userToSend">
	          	
	  			<div class="form-group">
    				<label for="messageToSend">Message to send</label>
    				<textarea class="form-control" id="messageToSend" rows="4" ng-model="vm.messageToSend"></textarea>
  				</div>
	          	
	  			<button type="submit" class="btn btn-primary">Send message</button>
          	</div>
          </form>
          

          <table class="table">
          	<tbody> 
          		<tr bgcolor=#8a9fb7><td><b>Received Messages</b></td></tr>
          	</tbody>
          </table>
          
          <table class="table">
	          <tbody>
	          	<tr>
	          		<th>User</th>
	          		<th>Message</th>
	          	</tr>
	       		<tr ng-repeat="message in vm.received_messages">
	       			<td> {{ message.user }} </td>
	       			<td> {{ message.message }} </td>
	       		</tr>
	          </tbody>
          </table>
          
          <table class="table">
          	<tbody> 
          		<tr bgcolor=#8a9fb7><td><b>Sent Messages</b></td></tr>
          	</tbody>
          </table>
          
          <table class="table">
	          <tbody>
	          	<tr>
	          		<th>User</th>
	          		<th>Message</th>
	          	</tr>
	       		<tr ng-repeat="message in vm.sent_messages">
	       			<td> {{ message.user }} </td>
	       			<td> {{ message.message }} </td>
	       		</tr>
	          </tbody>
          </table>

     	</div>
  	</div>
  </div>
</div>


<!-- 

 -->